
textarea {
    resize: none;
}

.inlineBlock {
    display: inline-block;
}

.topAligned {
    vertical-align: top;
}

#front-page-nav {
	background-color: #455a64;
}

#card-row {
	background-color: #bbdefb;
	padding-bottom: 40px;
}