
#front-page-nav {
	background-color: #455a64;
}

#card-row {
	background-color: #bbdefb;
	padding-bottom: 40px;
}


@media screen and (max-width:995px){
	#large-only{
		display: none;
	}
}

#chatbox {
	background-color: #eceff1;
	padding: 20px;
	color: black;

}

#fn{
	padding: 35px;
}

#login{
	background-color: #bbdefb;
}

footer{
	background-color: #ffb74d;
	padding: 35px;
}

#log-form{
	background-color: #ffe0b2;
}
