

table, tr, th {
    border: 1px solid black;
}

td {
    padding: 15px;
    width: 100px;
    height: 100px;
}

img{
	padding: 25px;
}


.increase{
	width: 150px;
    height: 150px;
}

.decrease{
	padding: 15px;
    width: 100px;
    height: 100px;
}


.green{
	background-color: green;
}

.red{
	background-color: red;
}

.lightred{
	background-color: pink;
}

.lightgreen{
	background-color: lightgreen;
}

.gray{
	background-color: gray;
}